<% include partials/_header %>

<div class="container">
  <div class="row justify-content-center">
    <!-- Mensaje de opciones de administración -->
    <div class="col-md-8 text-center mb-3">
      <h3>Opciones de administración:</h3>
    </div>
  </div>

  <div class="row justify-content-center">
    <!-- Botones -->
    <div class="col-md-8">
      <div class="btn-group-vertical d-flex justify-content-center" role="group" aria-label="Botones de administración">
        <a href="/crear_user" class="btn btn-primary btn-lg mb-3">Crear Usuario</a>
        <a href="/modificar_usuario" class="btn btn-primary btn-lg mb-3">Modificar Usuario</a>
        <a href="/delete_user" class="btn btn-primary btn-lg mb-3">Eliminar Usuario</a>
        <a href="/crear_asignatura" class="btn btn-warning btn-lg mb-3">Crear Asignatura</a>
        <a href="/importar_csv" class="btn btn-info btn-lg mb-3">Importar Datos CSV</a>
        
      </div>
    </div>
  </div>
  

  <div class="row">
    
    <div class="col-md-12">
      
    </div>
  </div>
</div>

<% include partials/_footer %>
