<% include partials/_header %>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title text-center">Eliminar Usuario</h3>
          <form action="/delete_user" method="POST">
            <div class="form-group">
              <label for="user">Seleccionar Usuario</label>
              <select class="form-control" id="user" name="userId" required>
                <option value="" disabled selected>Seleccionar Usuario</option>
                <% users.forEach(user => { %>
                  <option value="<%= user._id %>"><%= user.email %></option>
                <% }); %>
              </select>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>