<% include partials/_header %>

<div class="container">
    <div class="row justify-content-center" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <h3 class="text-center mb-4">Subir Contenido para <%= asignatura.nombre %></h3>
            <form action="/asignatura/<%= asignatura._id %>/subir_contenido" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="tipo_contenido">Tipo de Contenido:</label>
                    <select class="form-control" id="tipo_contenido" name="tipo_contenido" required>
                        <option value="url">URL</option>
                        <option value="archivo">Archivo</option>
                    </select>
                </div>
                <div class="form-group" id="input_url">
                    <label for="url">URL:</label>
                    <input type="text" class="form-control" id="url" name="url">
                </div>
                <div class="form-group" id="input_archivo" style="display: none;">
                    <label for="archivo">Archivo:</label>
                    <input type="file" class="form-control-file" id="archivo" name="archivo">
                </div>
                <button type="submit" class="btn btn-primary">Subir Contenido</button>
                <a href="/prof_asignaturas" class="btn btn-info">Retroceder</a> <!-- Botón de retroceso -->
            </form>
        </div>
    </div>
</div>

<% include partials/_footer %>

<script>
    document.getElementById('tipo_contenido').addEventListener('change', function() {
        var tipoContenido = this.value;
        if (tipoContenido === 'url') {
            document.getElementById('input_url').style.display = 'block';
            document.getElementById('input_archivo').style.display = 'none';
        } else {
            document.getElementById('input_url').style.display = 'none';
            document.getElementById('input_archivo').style.display = 'block';
        }
    });
</script>