<% include partials/_header %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Correos de Usuarios</title>
    <link rel="stylesheet" href="/stylesheets/validar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/js/validar.js"></script>
</head>
<body>

    <div class="container">
        <div class="list-container" id="clientes">
            <h2>Clientes</h2>
            <ul>
                <% users.forEach(user => { %>
                    <% if (user.rol === "Cliente") { %>
                        <li data-email="<%= user.email %>"><%= user.email %></li>
                    <% } %>
                <% }); %>
            </ul>
        </div>
        <div class="icon-container">
            <i class="fas fa-arrow-right" style="margin-top: 150px;" onclick="moverCorreos('clientes', 'empleados')"></i>
            <i class="fas fa-arrow-left" onclick="moverCorreos('empleados', 'clientes')"></i>
            <button onclick="deseleccionarTodos()">Deseleccionar Todos</button>
        </div>
        <div class="list-container" id="empleados">
            <h2>Empleados</h2>
            <ul>
                <% users.forEach(user => { %>
                    <% if (user.rol === "Empleado") { %>
                        <li data-email="<%= user.email %>"><%= user.email %></li>
                    <% } %>
                <% }); %>
            </ul>
        </div>
    </div>

    <div class="form-container" style="margin-bottom: 400px;">
        <form id="userForm" action="/validar" method="POST">
            <input type="hidden" name="clientes" id="clientesInput">
            <input type="hidden" name="empleados" id="empleadosInput">
            <button type="button" style="padding: 10px 20px;" onclick="enviarFormulario()">Guardar Roles</button>
        </form>
    </div>

</body>
</html>

<% include partials/_footer %>
