body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.usuario {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evitar que los elementos floten fuera del contenedor */
    display: flex;
}
.imagen-container {
    margin-left: 20px; /* Espacio entre la imagen y la información */
    display: flex;
    justify-content: flex-end; /* Alinear la imagen a la derecha */
    flex-grow: 1; /* Hacer que la información ocupe todo el espacio restante */
}
.imagen-container img {
    max-width: 300px; /* Establecer el ancho máximo de la imagen */
    height: auto; /* Mantener la proporción de la imagen */
}
.info-container {
    display: flex;
    flex-direction: column; /* Apilar los elementos verticalmente */
    flex-grow: 1; /* Hacer que la información ocupe todo el espacio restante */
}
h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.info-container p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}
.hidden {
    display: none; /* Ocultar elementos */
}
.button-container {
    margin-bottom: 20px;
}
/* Estilos para la sección de reservas */
/* Estilos para la sección de reservas */
/* Estilos para la sección de reservas */
/* Estilos para la sección de reservas */
/* Estilos para la sección de reservas */
.reservas {
    margin-top: 20px;
    text-align: center; /* Centrar el contenido */
}

.reserva-header {
    display: flex;
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    border-bottom: 1px solid #ccc; /* Agregar borde inferior */
    padding-bottom: 5px; /* Añadir un poco de espacio entre el encabezado y los elementos */
}

.reserva-header span {
    font-weight: bold; /* Hacer el texto del encabezado en negrita */
    font-size: 18px; /* Tamaño de fuente ligeramente más grande */
}

.reserva-item {
    display: flex; /* Usar flexbox para colocar la hora y la cantidad en una sola línea */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    border: 1px solid #ccc; /* Agregar bordes */
    margin-bottom: 5px;
    padding: 10px; /* Agregar relleno */
}

.reserva-item span {
    font-size: 16px;
    color: #666;
}