<% include partials/_header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Centrado</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/restock.css">

</head>
<body>
    <div class="container form-container">
        <div class="form-box">
            <h2 class="text-center mb-4">Formulario</h2>
            <form action="/restock" method="POST">
                <% if (typeof error !== 'undefined') { %>
                    <p style="color: red;"> <%= error %> </p>
                <% } else if (typeof correct !== 'undefined') { %>
                    <p style="color: green;"> <%= correct %> </p>
                <% } %>
                    <div class="form-group">
                    <label for="stock">Stock Recibido</label>
                    <input type="number" step="1" class="form-control" id="stock" name="stock" min="0" autofocus required>
                </div>
                <div class="form-group">
                    <label for="codigo">Código de Barra</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" required>
                </div>
                <button type="submit" class="btn btn-success btn-block">Enviar</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



<% include partials/_footer %>