body {
    margin: 0 0 50px 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    overflow: hidden; /* Para contener elementos flotantes */
}

.producto {
    border: 1px solid #ccc; /* Establecer el borde con color */
    padding: 10px;
    margin-bottom: 30px; /* Aumentar el margen inferior */
    width: calc(25% - 20px); /* Establecer el ancho del contenedor */
    margin-right: 20px;
    float: left;
    text-align: center;
}

h3 {
    white-space: nowrap;        /* No permite saltos de línea */
    overflow: hidden;           /* Oculta el contenido que sobrepasa el ancho del contenedor */
    text-overflow: ellipsis;    /* Añade puntos suspensivos (...) al final del texto que se trunca */
}

h2 {
    font-weight: bold;
}

.producto .img-container {
    width: 200px; /* Establecer el ancho fijo */
    height: 200px; /* Establecer la altura fija */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.producto img {
    max-width: 100%; /* Limitar el ancho máximo al 100% del contenedor */
    max-height: 100%; /* Limitar la altura máxima al 100% del contenedor */
}

.producto:nth-child(4n) {
    margin-right: 0; /* Eliminar el margen derecho del cuarto elemento en cada fila */
}

@media (max-width: 768px) {
    .producto {
        width: 100%;
        margin-right: 0;
    }
}

.pagination {
    clear: both; /* Asegurar que la paginación no flote al lado de los productos */
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centrar la paginación horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias líneas si es necesario */
}

.pagination .page-item {
    margin: 0 5px; /* Añadir margen entre los elementos de la paginación */
}

.pagination .page-link {
    color: #007bff; /* Color del texto del enlace */
    border: 1px solid #dee2e6; /* Borde del enlace */
    border-radius: 0.25rem; /* Bordes redondeados */
    padding: 0.5rem 0.75rem; /* Relleno */
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* Color de fondo del enlace activo */
    color: white; /* Color del texto del enlace activo */
    border-color: #007bff; /* Color del borde del enlace activo */
}
